* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heroBg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;

    filter: brightness(0.45) blur(6px);
    transform: scale(1.1);
    z-index: 0;
}

.activeBg {
    opacity: 1;
}

.heroImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease;
    z-index: 2;
}

.active {
    opacity: 1;
}

.heroTop {
    position: absolute;
    top: 5rem;
    left: 1.8rem;
    color: white;

    font-family: "Playfair Display", serif;
    z-index: 3;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 2.3rem;
}

.line1 {
    text-align: left;
    padding-left: 4rem;
}

.line2 {
    text-align: left;
    margin-top: 0.1rem;
    padding-left: 10rem;
}

.line3 {
    text-align: left;
    margin-top: 0.1rem;
    padding-left: 21rem;
}

.line4 {
    text-align: left;
    margin-top: 0.8rem;
    padding-left: 2rem;
}

.heroBottom {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    left: 1.8rem;

    color: white;
    font-family: "Playfair Display", serif;
    z-index: 3;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 2.3rem;
}


.b1 {
    text-align: right;
    letter-spacing: 3px;
    padding-right: 7rem;
}

.b2 {
    text-align: right;
    margin-top: 1.2rem;
    padding-right: 10rem;
}

.b3 {
    text-align: right;
    margin-top: 0.2rem;
    padding-right: 12rem;
}

.b4 {
    text-align: right;
    margin-top: 0.1rem;
    padding-right: 7rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0.7rem 0;
    font-family: "Inter", sans-serif;
    z-index: 3;
    font-size: 0.9rem;
}

@media (min-width: 1024px) {
    .heroImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 90%;
        object-fit: contain;
        z-index: 2;
    }
}


@media (max-width: 600px) {
    .heroTop {
        position: absolute;
        top: -0.5rem;
        left: 0;

        width: 100%;
        padding: 0.6rem 0;

        background: rgba(0, 0, 0, 0.1);

        font-family: "Playfair Display", serif;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 1.7rem;
        z-index: 3;
        color: white;
    }

    .line1 {
        text-align: left;
        line-height: 1.8rem;
        padding-left: 0;
        margin-top: 0;
    }

    .line2 {
        text-align: center;
        line-height: 2.6rem;
        padding-left: 2rem;
        margin-top: 0;
    }

    .line3 {
        text-align: right;
        line-height: 1.9rem;
        padding-right: 2rem;
        padding-left: 0;
        margin-top: 0;
    }

    .line4 {
        text-align: left;
        line-height: 1.6rem;
        margin-top: 0.5rem;
        padding-left: 0;
    }

    .heroBottom {
        position: absolute;
        bottom: 7rem;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: rgba(0, 0, 0, 0.1);
        font-family: "Playfair Display", serif;
        font-weight: 600;
        font-size: 3.1rem;
        line-height: 2.2rem;
        color: white;
        z-index: 3;
        text-align: center;
    }

    .b1 {
        text-align: right;
        margin-bottom: 0.5rem;
        padding: 0;
    }

    .b2 {
        text-align: left;
        font-size: 3rem;
        padding: 0;
        line-height: 1.1rem;
        padding-right: 3rem;
    }

    .b3 {
        text-align: right;
        padding-right: 2rem;
        line-height: 1.4rem;
        margin-top: 1rem;
    }

    .b4 {
        text-align: left;
        margin-top: 0.5rem;
        padding-left: 1rem;
        line-height: 1.7rem;
    }

    .footer {
        font-size: 0.65rem;
        padding: 0.5rem 0;
    }
}